/* Color the window border with BO color. */
.border {
	-fx-border-color: colorPlaybackBO;
}

/* Add 2px FG-colored rounded border to all playback buttons. */
.playbackBarButton {
	-fx-border-radius: 300;
	-fx-border-color: colorPlaybackFG;
	-fx-border-width: 2;
	-fx-background-color: transparent;
	-fx-padding: 0;
}

/* Set text labels of list options to FG coloring. */
.listOptionLabel {
	-fx-text-fill: white;
}

/********************** TAB PANE STYLING **********************/

/* Remove white tab background. */
.tab-content-area {
	-fx-background-color: transparent;
}

/* Set the entire tab-header background to the BG color. */
.tab-pane *.tab-header-background {
	-fx-background-color: colorPlaybackBG;
}
.tab {
	-fx-background-color: colorPlaybackBG;
}

/* Remove blue border on focused tabs. */
.tab {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

/* Color tab text based on current FG color (or BO color when not selected). */
.tab .tab-label {
	-fx-text-fill: colorPlaybackBO;
}
.tab:hover .tab-label {
	-fx-text-fill: colorPlaybackFG;
}
.tab:selected .tab-label {
	-fx-text-fill: colorPlaybackFG;
}

/********************** SCROLL PANE BORDER STYLING **********************/

/* Add a BG-colored fade to the top and bottom of the scroll pane. */
.scroll-pane-border {
	-fx-border-color: linear-gradient(to bottom, white, transparent)
	                  transparent
	                  linear-gradient(to top   , white, transparent)
	                  transparent;
	-fx-border-style: solid;
}

/* This part of the fade is larger and positioned behind the text. */
.scroll-pane-border-back {
	-fx-border-width: 150px 0px 150px 0px;
}

/* This part of the fade is smaller and positioned in front of the text. */
.scroll-pane-border-fore {
	-fx-border-width: 10px 0px 10px 0px;
}

/********************** SCROLL PANE STYLING **********************/

/* Made the right-side scrollbar 'float' over top of the content rather than running into it. */
.scroll-bar {
	-fx-translate-x: -13px;
}
.scroll-pane {
	-fx-padding: 0 -13px 0 0;
}

/* Hide all of the scrollbar backgrounds, scroll arrows, and scroll pane backgrounds.*/
.scroll-pane {
	-fx-background-color: transparent;
}
.scroll-pane > .viewport {
	-fx-background-color: transparent;
}
.scroll-bar:vertical {
	-fx-background-color: transparent;
}
.scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
}
.scroll-bar:vertical .decrement-arrow {
	-fx-background-color: transparent;
}
.scroll-bar:vertical .increment-button {
	-fx-background-color: transparent;
}
.scroll-bar:vertical .increment-arrow {
	-fx-background-color: transparent;
}

/* Create a minimalist vertical scroll bar thumb with FG color. */
.scroll-bar:vertical .thumb {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-background-insets: 0 5 0 6;
}